.ig-container {
  display: grid;
  background-color: black;
  width: 400px;
  height: 500px;
  align-content: start;
  position: relative;
}

.ig-container.news {
  background-color: #2c59ac;
}

.ig-container.humour {
  background-color: #007036;
}

.ig-container.voices {
  background-color: #c42872;
}

