.ig-text-white-box {
  position: absolute;
  left: 24px;
  top: 70px;
  width: 350px;
  height: 400px;
  background-color: white;
  padding: 3px;
  border-radius: 3px;
}

.ig-text-yellow-box {
  height: 394px;
  background-color: var(--cg-yellow);
  padding: 24px;
}

.ig-text-box {
  height: 346px;
  background-color: white;
  padding: 10px;
  display: grid;
  align-items: stretch;
}

.ig-text-content {
  height: 326px;
  display: grid;
  align-items: center;
  border-left: 2px solid var(--cg-font);
  padding-left: 5px;
}

.ig-text-content p {
  margin: 0;
  color: var(--cg-font);
}

.ig-text-content p + p {
  margin-top: 5px;
}
