.modify-article-list {
  display: grid;
  gap: 1rem;
  padding: 3rem 10rem;
  justify-items: start;
}

.modify-article-list .modify-row {
  display: grid;
  gap: 0.5rem;
}

.modify-article-list h1 {
  color: var(--cg-font);
}

.modify-article-list h3 {
  font-size: 1.4rem;
  color: var(--cg-font);
}

.modify-article-list p {
  font-family: "Libre Baskerville";
  color: var(--cg-font);
}

.modify-article-list .editor-button {
  background-color: white;
  border: 1px solid #ddd;
  font-family: "Bitter";
  text-decoration: none;
  font-size: 0.9rem;
  padding: 0.4rem;
  cursor: pointer;
}

.modify-article-list .editor-button:hover {
  background-color: #eaeaea;
}

.modify-actions {
  display: flex;
  gap: 0.75rem;
}

.editor-button.danger p {
  color: #ff4c4c;
}

.editor-button.danger:hover {
  background: #ff1f1f;
  p {
    color: white;
  }
}
