.best-pub {
  margin-top: 2rem;
  padding: 1.7rem 9.5rem 1.7rem 9.5rem;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;

  display: flex;
  flex-direction: row;
 
  background-image: 
    linear-gradient(
      to right,
      rgba(226, 186, 0, 0.70) 0%,
      rgba(28, 52, 104, 0.55) 100%
    ),
    url("../../public/images/CG.png");

  background-repeat:
    no-repeat,
    repeat;

  background-size:
    cover,
    90px auto;

  background-position:
    center,
    center;
}

.best-pub img {
  width: 250px;
  height: auto;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 1.5rem;
}

.bestpub-header {
  font-family: "Bitter";
  font-weight: 800;
  font-size: 2.5rem;
  color: #f3f2f1;
  border: 0px;
}

.best-pub p {
  font-family: "Libre Baskerville";
  font-size: 0.9rem;
  color: #f3f2f1;
}
