.header {
  margin-top: 0rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #ddd;
  padding-bottom: 0.5rem;
  
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 0.5rem;
}

.header h3 {
  margin: -0.8rem;
  padding: 0;
  line-height: 1;
}

/* "THE" */
.the {
  font-family: "Grifa";
  font-weight: 400;
  font-size: 2rem;
  line-height: 1;
  margin-bottom: -0.5rem;
}

/* "CHEESE GRATER" */
.cheese-grater {
  font-family: "Bitter";
  font-weight: 900;
  font-size: 6rem;

  display: inline-block;
  transform: scaleX(0.7);
  transform-origin: center;

  margin: 0;
  padding: 0;
  line-height: 0.9;

  user-select: none;
  cursor: default;
  outline: none;
}

.cheese-grater .cheese {
  color: #E2BA00;
}

.cheese-grater .grater {
  color: #000;
}

.grater-icon {
  display: inline-block;
  width: 1em;
  height: 1em;

  background-image: url("/images/CG_Full_Opacity.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  vertical-align: -0.15em; /* adjust up/down */
  transform: scaleX(1.4);
}

.best {
  font-family:"Bitter";
  font-size: 1.2rem;

  display: inline-block;
}

.menu-bar {
  display: flex;
  flex-direction: row;
  align-content: space-around; 
}

.menu-bar .menu-item {
  font-family: "Bitter";
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1.5rem;
}

.menu-bar .print-edition {
  color: #e2ba00;
}
