.page-mobile {
  max-width: none;
  width: 100%;
}

.page-desktop {
  max-width: 1600px;
  margin: 0 auto;
}

.home-wrapper {
  height: 180vh;
  min-height: 550px;
  max-height: 1800px;
  overflow: hidden;
  position: relative;
}
