.major-layout-main-grid {
  display: grid;
  grid-auto-rows: auto;
  gap:1rem;
  align-content: start;
}

.major-layout-bottom-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 1rem;
}

.major-section-title {
  justify-self: center;
  display: inline-block;
  font-family: "Bitter";
  font-weight: 800;
  font-size: 2.5rem;
  border-bottom: 4px solid #000;
  margin-top: 0;
  color: #3a3a3a;
}

.title-Voices {
  border-color: #C42873;
}

.title-Humour {
  border-color: #00674B;
}

.title-News {
  border-color: #2C59AE;
}

